.collapsable {
  margin: 0 auto;
  max-width: 90%;
  user-select: none;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.label:after {
  content: '\002B';
  float: right;
}

.active:after {
  content: '\2212';
}

.label > span:last-child {
  font-size: smaller;
}

.item {
  padding: 0.4rem;
  font-weight: 500;
  font-size: smaller;
}

.item > span:nth-last-child(1) {
  margin-left: 1em;
  font-size: 0.7rem;
}
