.container {
  @apply flex justify-center bg-[#665598] text-white;
  min-height: 100vh;
}

.main {
  @apply flex flex-col flex-1 max-w-lg;
  padding: 4rem 0;
}

.control {
  @apply block w-full py-2 pl-3 text-black bg-white placeholder:font-thin;
}

.control:focus {
  outline: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 2rem 0.5rem;
  }
}
