.container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(201, 201, 201);
  height: 115px;
}

.name {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.information {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  padding-inline: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.information > span {
  display: block;
}
