.container {
  @apply flex justify-center bg-[#665598] text-white;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.main {
  @apply w-full max-w-3xl min-w-fit;
  min-height: 100vh;
  margin-inline: 1rem;
  position: relative;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'title title'
    'events sidebar'
    'events sidebar';
}

.title {
  grid-area: title;
  margin-block-end: 4rem;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  position: sticky;
  max-height: calc(100vh - 6.5rem);
  top: 1rem;
  align-self: start;
}

.sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sidebar > div {
  margin-bottom: 1em;
}

.sidebar > div:nth-last-child(1) {
  margin-bottom: 0;
}

.events {
  grid-area: events;
  margin-right: 2em;
}

.events > div {
  margin-bottom: 1em;
}
.events > div:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .main {
    margin-inline: 0.5rem;
    grid-template-areas:
      'title title'
      'sidebar sidebar'
      'events events';
  }

  .sidebar {
    position: relative;
    align-self: normal;
    top: 0;
  }

  .title {
    margin-block-end: 2rem;
  }

  .events {
    margin-right: 0;
  }

  .events > div:nth-child(1) {
    margin-top: 1em;
  }
}
